/* template styles */
:host {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14px;
  color: #333;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
}

p {
  margin: 0;
}

.spacer {
  flex: 1;
}

.toolbar {
  height: 60px;
  margin: -8px;
  display: flex;
  align-items: center;
  background-color: #1976d2;
  color: white;
  font-weight: 600;
}

.toolbar img {
  margin: 0 16px;
}

.toolbar #twitter-logo {
  height: 40px;
  margin: 0 16px;
}

.toolbar #twitter-logo:hover {
  opacity: 0.8;
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960px;
  flex-direction: column;
  align-items: center;
}

svg.material-icons {
  height: 24px;
  width: auto;
}

svg.material-icons:not(:last-child) {
  margin-right: 8px;
}

.card svg.material-icons path {
  fill: #888;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
}

.card {
  border-radius: 4px;
  border: 1px solid #eee;
  background-color: #fafafa;
  height: 40px;
  width: 200px;
  margin: 0 8px 16px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
  line-height: 24px;
}

.card-container .card:not(:last-child) {
  margin-right: 0;
}

.card.card-small {
  height: 16px;
  width: 168px;
}

.card-container .card:not(.highlight-card) {
  cursor: pointer;
}

.card-container .card:not(.highlight-card):hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 17px rgba(black, 0.35);
}

.card-container .card:not(.highlight-card):hover .material-icons path {
  fill: rgb(105, 103, 103);
}

.card.highlight-card {
  background-color: #1976d2;
  color: white;
  font-weight: 600;
  border: none;
  width: auto;
  min-width: 30%;
  position: relative;
}

.card.card.highlight-card span {
  margin-left: 60px;
}

svg#rocket {
  width: 80px;
  position: absolute;
  left: -10px;
  top: -24px;
}

svg#rocket-smoke {
  height: 100vh;
  position: absolute;
  top: 10px;
  right: 180px;
  z-index: -10;
}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}

.logo {
  background-image: url("data:image/svg+xml,%3csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cdefs%3e%3cpath d='M19.64 15.905c-.778 0-1.405.637-1.405 1.423 0 .787.627 1.423 1.404 1.423.774 0 1.405-.636 1.405-1.423 0-.786-.63-1.423-1.405-1.423' id='a'/%3e%3c/defs%3e%3cg fill='none' fill-rule='evenodd'%3e%3cpath d='M29.974 16.046c0-1.068.868-1.933 1.936-1.933l-.479-2.386a1.933 1.933 0 0 1-1.477-3.572l-1.353-2.024a1.933 1.933 0 0 1-2.732-2.733l-2.025-1.351a1.933 1.933 0 0 1-3.57-1.48L17.885.091a1.934 1.934 0 1 1-3.866 0l-2.387.476a1.93 1.93 0 0 1-1.045 2.524 1.93 1.93 0 0 1-2.525-1.044L6.038 3.399a1.93 1.93 0 0 1 0 2.732 1.93 1.93 0 0 1-2.732 0L1.953 8.155a1.932 1.932 0 1 1-1.477 3.572L0 14.113a1.933 1.933 0 1 1 0 3.866l.476 2.388a1.932 1.932 0 1 1 1.477 3.571l1.353 2.023a1.931 1.931 0 1 1 2.732 2.733l2.025 1.352a1.933 1.933 0 0 1 3.57 1.48l2.387.473a1.934 1.934 0 0 1 3.866 0l2.387-.474a1.932 1.932 0 0 1 3.57-1.48l2.026-1.35a1.933 1.933 0 1 1 2.732-2.732l1.353-2.027a1.933 1.933 0 0 1 1.48-3.57l.476-2.387a1.936 1.936 0 0 1-1.936-1.933z' fill='%23E41A23'/%3e%3cpath fill='white' d='M20.975 25.35l-.578-4.532h-1.53l-.577 4.532h-2.682l2.46-18.652h3.094l2.477 18.652zM14.123 24.557c-.587.631-1.405.956-2.517.956-1.109 0-1.892-.314-2.48-.945-.587-.631-.912-1.47-.912-2.517l.011-12.017c0-1.047.276-1.885.862-2.516.587-.631 1.393-.946 2.505-.946 1.11 0 1.893.315 2.482.946.587.63.91 1.47.91 2.516v2.883h-2.533l.002-3.093c0-.465-.394-.824-.866-.824a.82.82 0 0 0-.826.837v12.386c0 .466.351.83.822.83.472 0 .865-.369.865-.835V18.81h-.865v-2.267h3.401l.001 5.498c0 1.048-.276 1.886-.862 2.517z'/%3e%3cuse fill='%23E41A23' xlink:href='%23a'/%3e%3c/g%3e%3c/svg%3e");
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  margin-left: 10px;
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: "\2022 \2022 \2022";
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.circle-link {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  margin: 8px;
  background-color: white;
  border: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: 1s ease-out;
}

.circle-link:hover {
  transform: translateY(-0.25rem);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}

.github-star-badge {
  color: #24292e;
  display: flex;
  align-items: center;
  font-size: 12px;
  padding: 3px 10px;
  border: 1px solid rgba(27,31,35,.2);
  border-radius: 3px;
  background-image: linear-gradient(-180deg,#fafbfc,#eff3f6 90%);
  margin-left: 4px;
  font-weight: 600;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}

.github-star-badge:hover {
  background-image: linear-gradient(-180deg,#f0f3f6,#e6ebf1 90%);
  border-color: rgba(27,31,35,.35);
  background-position: -.5em;
}

.github-star-badge .material-icons {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

svg#clouds {
  position: fixed;
  bottom: -160px;
  left: -230px;
  z-index: -10;
  width: 1920px;
}


/* Responsive Styles */
@media screen and (max-width: 767px) {

  .card-container > *:not(.circle-link) ,
  .terminal {
    width: 100%;
  }

  .card:not(.highlight-card) {
    height: 16px;
    margin: 8px 0;
  }

  .card.highlight-card span {
    margin-left: 72px;
  }

  svg#rocket-smoke {
    right: 120px;
    transform: rotate(-5deg);
  }
}

@media screen and (max-width: 575px) {
  svg#rocket-smoke {
    display: none;
    visibility: hidden;
  }
}

.fork-me {
  background-color: black;
  color: white;
  padding: 5px;
  margin-right: 10px;
}
